//project variables

:root {
	--main-container-width: 1280px;
}

$list: "../img/proj1.jpg", "../img/proj2.png", "../img/proj3.jpeg";

$small-card-width: 30%;
$narrow-card-width: 40%;
$medium-card-width: 50%;
$large-card-width: 60%;


